<!-- users/show.html.erb -->
<div class="container">
  <h2><%= @user.username %> のマイページ</h2>
  <h3><%= @user.username %> さんの投稿一覧</h3>
  <% @user.posts.each do |post| %>
    <div class="post">
      <%= image_tag post.image, class: 'post-image' if post.image.attached? %>
      <h3><%= post.title %></h3>
      <p><%= post.comment %></p>
      <p><%= post.category.name %></p>
      <% if current_user == post.user %>
        <%= link_to "編集", edit_post_path(post), class: "btn btn-edit" %>
        <%= link_to "削除", post_path, data: {turbo_method: :delete}, class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>