<!-- views/posts/edit.html.erb -->
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>食活しよう！！</title>
  <%= stylesheet_link_tag "application", integrity: "sha384-rkAsTpS3L99Bz9uG5Y7uxmV2VJcJg6b6unE8BHOz7e0OaHntUVI+hS5X39dVNLid", crossorigin: "anonymous" %>
  <%= stylesheet_link_tag "edit" %> 
</head>
<div class="container">
  <div class="card edit-form-wrapper" style="width: 1000px;">
    <h3 class="card-header">投稿を編集する</h3>
    <div class="card-body">
      <%= form_with(model: @post, url: post_path(@post), method: :patch, local: true) do |form| %>
        <div class="form-group mb-3">
          <%= form.label :title, "タイトル" %>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group mb-3">
          <%= form.label :category_id, "カテゴリー" %>
          <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "選択してください" }, class: "form-control" %>
        </div>
        <div class="form-group mb-3">
          <%= form.label :image, "写真" %>
          <%= form.file_field :image, class: "form-control" %>
        </div>
        <div class="form-group mb-3">
          <%= form.label :comment, "コメント" %>
          <%= form.text_area :comment, class: "form-control" %>
        </div>
        <%= form.submit "更新", root_path,class: "btn btn-primary" %>
        <%= link_to "削除", post_path, data: {turbo_method: :delete}, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>