<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>食活しよう！！</title>
  <%= stylesheet_link_tag "application", integrity: "sha384-rkAsTpS3L99Bz9uG5Y7uxmV2VJcJg6b6unE8BHOz7e0OaHntUVI+hS5X39dVNLid", crossorigin: "anonymous" %>
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="content-font">
        <h1>食活しよう！！</h1>
        <p>当アプリは食事で生活習慣病などの身近な病気を</p>
        <p>予防できるようにしたいと思い作られたものです。</p>
        <p>予防につながる食材や料理を写真付きで</p>
        <p>カテゴリー別で投稿して下さい。</p>
        <p>！カテゴリー別検索実装予定。！</p>
      </div>
      <!-- ログイン状態であれば投稿ボタンを表示 -->
      <% if user_signed_in? %>
        <%= link_to "投稿する", new_post_path, class: "btn btn-primary mt-3" %>
      <% else %>
        <%= link_to "ログインして投稿する", new_user_session_path, class: "btn btn-primary mt-3" %>
      <% end %>

      <!-- 最新の3つの投稿を表示する -->
      <div class="row mt-4">
        <% @posts.each do |post| %>
          <div class="col-md-4">
            <div class="mb-4 post-card">
              <%= link_to image_tag(post.image.variant(resize: "300x200").processed, class: 'post-image'), post %>
              <h3 class="post-title">タイトル : <%= post.title %></h3>
              <p class="post-category">カテゴリー : <%= post.category.name %></p>
              <p class="post-comment">コメント : <%= post.comment %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>