<!-- posts/index.html.erb -->
<div class="container">
  <h1 class="text-center mb-4 fw-bold">食活しよう！！</h1>
  <p class="text-center fw-bold fs-5">当アプリは食事で生活習慣病などの身近な病気を</p>
  <p class="text-center fw-bold fs-5">予防できるようにしたいと思い作られたものです。</p>
  <p class="text-center fw-bold fs-5">予防につながる食材や料理を写真付きで</p>
  <p class="text-center fw-bold fs-5">カテゴリー別で投稿して下さい。</p>

  <!-- ログイン状態であれば投稿ボタンを表示 -->
  <% if user_signed_in? %>
    <%= link_to "投稿する", new_post_path, class: "btn btn-primary mt-3" %>
  <% else %>
    <%= link_to "ログインして投稿する", new_user_session_path, class: "btn btn-primary mt-3" %>
  <% end %>

  <!-- 最新の3つの投稿を表示する -->
  <div class="row mt-4">
    <% @posts.each do |post| %>
      <div class="post">
        <%= image_tag post.image, class: 'post-image' if post.image.attached? %>
        <h3><%= post.title %></h3>
        <p><%= post.comment %></p>
        <p><%= post.category.name %></p>
        <% if current_user == post.user %>
          <%= link_to "編集", edit_post_path(post) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>