<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>食活しよう！！</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div class="container">
    <div class="content">
      <h1>食活しよう！！</h1>
      <p>当アプリは食事で生活習慣病などの身近な病気を</p>
      <p>予防できるようにしたいと思い作られたものです。</p>
      <p>予防につながる食材や料理を写真付きで</p>
      <p>カテゴリー別で投稿して下さい。</p>

      <!-- ログイン状態であれば投稿ボタンを表示 -->
      <% if user_signed_in? %>
        <%= form_with(url: new_post_path, method: :get) do %>
          <%= submit_tag "投稿する", class: "custom-button" %>
        <% end %>
      <% else %>
        <%= link_to "ログインして投稿する", new_user_session_path, class: "btn btn-primary mt-3" %>
      <% end %>

      <!-- 最新の3つの投稿を表示する -->
      <div class="row mt-4">
        <% @posts.each do |post| %>
          <div class="col-md-4">
            <div class="mb-4 post-card">
              <%= link_to image_tag(post.image.variant(resize: "300x200").processed, class: 'post-image'), post %>
              <h3 class="post-title"><%= post.title %></h3>
              <p class="post-comment"><%= post.comment %></p>
              <p class="post-category"><%= post.category.name %></p>
              <% if current_user == post.user %>
                <%= link_to "編集", edit_post_path(post), class: "custom-button-secondary" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>